.Module2_{
        
    /* background-repeat: no-repeat; */
    object-fit: contain;
    overflow-x:hidden;
    background-size: contain;
    opacity: 1;
    /* background-color: black; */
    /* height: 30vw; */
    max-height: 100vw;
    min-height: 10vh;

    width: 34vh;
    width: 30vw;
    height:40vh;
    
    border-radius: 2vw;
}